@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Antic Slab', serif;
}


html {
    font-size: 62.5%;
}

.section-1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-heading {
    font-size: 12rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem rgb(97, 97, 97);
}

.section-1-icons i {
font-size: 35rem;
color: #991717;
position: absolute;
transform: translate(-50%, -50%) scale(0);
text-shadow: 0.2rem 0.2rem 0.2rem rgb(67, 67, 67);
transition: transform 0.3s;
}

.section-1-icons i.change {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s 0.3s;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Antic Slab', serif;
}


html {
    font-size: 62.5%;
}

.section-1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-heading {
    font-size: 12rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem rgb(97, 97, 97);
    
}

.section-1-icons i {
font-size: 35rem;
color: #991717;
position: absolute;
transform: translate(-50%, -50%) scale(0);
text-shadow: 0.2rem 0.2rem 0.2rem rgb(67, 67, 67);
transition: transform 0.3s;
}

.section-1-icons i.change {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s 0.3s;
}

.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;
}

.section-2 h1{
    color: #ffffff;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 30rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #750303;
    box-shadow: 1rem 1rem 1rem rgba(179, 32, 32, 0.459);
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem rgb(85, 85, 85);
    
}

.card::before {
    content:"";
    height: 100%;
    width: 1rem;
    background-color: #991717;
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -0.1rem -0.1rem 0.1rem #111;
}

.card::after {
    content:"";
    height: 1rem;
    width: 100%;
    background-color: #c12f2f;
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.1rem -0.1rem 0.1rem #111;
}

.card-img {
    width: 100%;
}

.card-name {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: rgb(255, 255, 255);
    margin: 2rem;
    text-shadow: .10rem .10rem .10rem rgb(163, 163, 163);
}

.card-btn {
    width: 70%;
    background-color: rgb(38, 38, 38);
    color: rgb(204, 204, 204);
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    text-transform: capitalize;
    border: none;
    padding: .5rem 0;
    cursor: pointer;
    box-shadow: -0.2rem -0.2rem 0.2rem #111;
}