@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

/*Default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Antic Slab', serif;
}


html {
    font-size: 62.5%;
}
/*End of default styles*/

/*Navbar*/
.navbar {
    width: 100%;
    height: 14rem;
    background-color: #000;
    position: fixed;
    top: -14rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.3rem 0.3rem rgb(72, 72, 72);
}

.navbar-link {
    color: rgb(231, 231, 231);
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
}

.navbar-link:hover{
    color: #930202;
}

.navbar-link span {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin-top: 0.5rem;
}

.menu {
    width: 4rem;
    height: 6rem;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 1rem;
    left: 5rem;
    border-radius: 30rem 30rem 15rem 15rem;
    /* box-shadow: 0.1rem 0.1rem 0.1rem
    #000, -0.1rem -0.1rem 0.1rem #000; */
    cursor: pointer;
}

.menu::before {
    content: "";
    width: 0.3rem;
    height: 15rem;
    background-color: #000;
    position: absolute;
    top: -15rem;
    left: calc(50% - 0.15rem);
    /* box-shadow: 0.1rem 0 0.1rem #000; */
}



.navbar-link i {
    font-size: 3rem;
}

/*End of Navbar*/

/*Section 1*/
.section-1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-heading {
    font-size: 12rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem rgb(97, 97, 97);
}

.section-1-icons i {
font-size: 35rem;
color: #991717;
position: absolute;
transform: translate(-50%, -50%) scale(0);
text-shadow: 0.2rem 0.2rem 0.2rem rgb(67, 67, 67);
transition: transform 0.3s;
}

.section-1-icons i.change {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s 0.3s;
}
/* End of section 1 */

/* Section 2 */
.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;
}

.section-2 h1{
    color: #ffffff;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 30rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #750303;
    box-shadow: 1rem 1rem 1rem rgba(179, 32, 32, 0.459);
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem rgb(85, 85, 85);
    
}

.card::before {
    content:"";
    height: 100%;
    width: 1rem;
    background-color: #991717;
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -0.1rem -0.1rem 0.1rem #111;
}

.card::after {
    content:"";
    height: 1rem;
    width: 100%;
    background-color: #c12f2f;
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.1rem -0.1rem 0.1rem #111;
}

.card-img {
    width: 100%;
}

.card-name {
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: rgb(255, 255, 255);
    margin: 2rem;
    text-shadow: .10rem .10rem .10rem rgb(163, 163, 163);
}

.card-btn {
    width: 70%;
    background-color: rgb(38, 38, 38);
    color: rgb(204, 204, 204);
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    text-transform: capitalize;
    border: none;
    padding: .5rem 0;
    cursor: pointer;
    box-shadow: -0.2rem -0.2rem 0.2rem #111;
}
/* End of section 2 */

/* Section 3*/
.section-3 {
background-color: rgb(226, 226, 226);
padding: 5rem 0;
}

.section-3 h1 {
    color: #af0000;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.gallery-link {
    position: relative;
    margin: 4rem 1rem;
}

.gallery-link::before {
    content: "";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: 0.2rem;
    height: 0%;
    background-color: #e92929;
    transition: height .5s;
    z-index: 10;
}

.gallery-link:hover::before {
    height: 80%;
}

.gallery-link:hover::after {
    width: 90%;
}

.gallery-link::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 2rem;
    width: 0%;
    height: 0.2rem;
    background-color: #e92929;
    transition: width .5s;
}

.device-img {
    /* width: 25vw;
    height: 25vh; */
    max-width: 500px;
    max-height: 500px;
    object-fit:contain;
    box-shadow: 0.3rem 0.3rem 0.1rem rgb(125, 125, 125);
}

.gallery-link:hover .device-img {
    filter: blur(0.5rem);
    opacity: 0.5;
    transform: scale(1.1);
}

.device-name {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: rgb(0, 0, 0);
    overflow: hidden;
    transform: scale(0);
}

.gallery-link:hover .device-name {
    transform: scale(1);
}



.device-description {
    position: absolute;
    bottom: 3vw;
    left: 2rem;
    width: 70%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #000000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.gallery-link:hover .device-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}
/*End of Section 3*/

/*Section 4*/
.section-4 {
    width: 100%;
    height: 30vh;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 0;
    position: relative;
}

.section-4-text {
    text-transform: uppercase;
}

.section-4-heading {
    font-size: 4rem;
    font-weight: 900;
    color: #c70000;
}

.section-4-paragraph {
    font-size: 1.5rem;
    color: rgb(206, 206, 206);
}

.signup-form {
    display: flex;
    align-items: center;
}

.signup-form-input {
    width: 35rem;
    height: 5rem;
    padding: 1rem;
    border: 0.2rem solid #c70000;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #000000;
}

.signup-form-input::placeholder {
    color:#777777;
}

.signup-form-btn {
    position: relative;
    left: -4.5rem;
    width: 4rem;
    height: 4rem;
    background-color: #333;
    color: #d10606;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.copyright {
    position: absolute;
    bottom: 3rem;
    font-size: 1.7rem;
    font-weight: 200;
    color: #eee;
    letter-spacing: 0.1rem;
    border-top: 0.1rem solid #888;
    padding-top: 6rem;
    width: 100%;
    text-align: center;
}
/*End of Section 4*/