@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap'); 

/* Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Antic Slab', serif;
}
/* Common styles */

html {
    /* font-size: 62.5%; */
}
